/AI_Programming_projectvoorstellen.docx
/Cheatsheets
/Grokking-Artificial-Intelligence-Algorithms-master
/GrokkingArtificialIntelligenceAlgorithms.pdf
/OefeningenLes
/richtlijnen_AI_Programming_project_2024.pdf
